/* background
#30333F

@import
#D79FF2

"text"
#B1EBA4

//comment
#5F6378

js {}
#ECDD9B

name
#DEE2F6

highlight
#363A4D */

.text-editor {
    background-color: #30333F;
    height: 500px;
}

.text-editor * {
    color: white;
}

.var-highlight{
	color: #ffc107;
}
.string-highlight{
	color: #B1EBA4;
}

#typewriter{
		font-size: 2em;
		margin: 0;
		font-family: "Courier New";
}

#typewriter:after{
    color: #6bdcff;
    font-weight: bold;
    content: "|";
    animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
