/* background
#30333F

@import
#D79FF2

"text"
#B1EBA4

//comment
#5F6378

js {}
#ECDD9B

name
#DEE2F6

highlight
#363A4D */

/* * {
    outline: 1px solid red;
} */

.fab {
    font-size: 4.5rem;
    color: black;
}

.text-editor {
    padding: 2rem 1rem;
    background-color: #30333F;
    min-height: 28.5rem;
}

.text-editor * {
    color: white;
}

p.textEditText {
    color: darkgrey;
    display: block;
    font-family: "Courier New";
    margin-bottom: 1.5rem;
}

.textEdit-div {
    position: absolute;
    top: -2rem;
    left: -1rem;
    background-color: #24252d;
    padding-top: 3rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.var-highlight{
	color: #ffc107;
}
.string-highlight{
	color: #B1EBA4;
}

#typewriter{
		font-size: 2rem;
		margin: 0;
		font-family: "Courier New";
}

#typewriter:after{
    color: #6bdcff;
    font-weight: bold;
    content: "|";
    animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
