.main-avatar {
	border-radius: 50px;
	margin-left: 1em;
	width: 100px;
	height: 100px;
	position: relative;
	bottom: 16px;
}

.main-avatar.about {
	bottom: 0px;
	float: right;
	margin-right: 0px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.sub-text {
	font-size: 1em;
	color: #999;
	float: right;
	margin-top: 0.83em;
}

h2 {
	display: inline-block;
}

.footer {
	padding: 1em 0;
}
.footer a {
	color: #ccc;
	font-size: 80%;
}

.blog-nav {
	list-style-type: none;
}

.blog-nav li {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	height: 100%;
}

.blog-nav a {
	padding: 0.5em 1em;
}

.footer .blog-nav a:hover,
.footer .blog-nav a:focus {
	background: none;
}

@media (max-width: 1200px) {
	.sub-text {
		float: none;
	}
}

.post-description {
	/* max-height: 200px;
	overflow: scroll; */
}

section h2 {
	display: inline-block;
	margin-bottom: 0.25em;
}

section ul li {
	margin: 0.75em 0px;
	position: relative;
}

section ul li img {
	height: 2em;
	position: absolute;
	bottom: 0em;
}

ul.share-buttons {
	list-style: none;
	padding: 0;
}

ul.share-buttons li {
	display: inline;
}

ul.share-buttons .sr-only {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
